.header {
  height: 50px;
}

.header img {
  width: 50px;
  margin-top: -15px;
}

.header h1 {
  display: inline-block;
}

.stock-disponible {
  color: green;
}

.stock-no-disponible {
  color: red;
}

.producto-oferta {
  color: grey;
  font-size: bold;
}

.img-home {
  width: 100%;
}

.img-product {
  width: 100px;
}

.center-text {
  text-align: center;
}
