{% extends 'web/html.html' %}
{% load static %}

{% block body %}
<header>{% include 'web/header.html' %}</header>
{% include 'web/navbar.html' %}
<main>
  <h1>Carrito</h1>
  {% for product in products %}
    {% if product.reference == reference %}
      <p class="center-text">Se ha añadido el producto <strong>{{ product.title }}</strong> al carrito.</p>
      <div class="container">
          <div class="row box-border">
            <div class="col-md-6">
              <img src="/static/web/img/{{ product.img }}" class="img-fluid img-product">
            </div>
        </div>
      </div>
    {% endif %}
  {% endfor %}
  <ins><p class="center-text">Selecciona el cliente que lo va a comprar: </p></ins>
  <div class="container">
    {% for client in clients %}
      <div class="row">
        <div class="col-md-12 box-border">
          <div>
            <p>{{ client.first_name }} {{ client.last_name }}<a href="/clientes/{{ cart.client }}">{{ cart.client }}</a></p>
          </div>
          <div>
            <a href="/carrito/{{ reference }}/{{ client.id }}"><button type="button" class="btn btn-info">Seleccionar</button></a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</main>
<footer>{% include 'web/footer.html' %}</footer>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="{% static 'web/scripts/web.js' %}"></script>
{% endblock %}
