{% extends 'web/html.html' %}
{% load static %}

{% block body %}
<header>{% include 'web/header.html' %}</header>
{% include 'web/navbar.html' %}
<main>
  <h1>Clientes</h1>
  <div class="container">
    <div class="row">
      {% for client in clients %}
          <div class="col-md-4 box-border">
            <div class="center-text">
              <a href="/clientes/{{ client.id }}/"><i class="far fa-user client-icon"></i></a>
            </div>
            <div class="center-text">
              <a href="/clientes/{{ client.id }}/"><p>{{ client.first_name }} {{ client.last_name }}</p></a>
            </div>

          </div>
      {% endfor %}
    </div>
  </div>
  <div class="center-text">
    <a href="/clientes/historial/"><button type="button" class="btn btn-info">Ver historial de pedidos</button></a>
  </div>
</main>
<footer>{% include 'web/footer.html' %}</footer>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="{% static 'web/scripts/web.js' %}"></script>
{% endblock %}
