{% extends 'web/html.html' %}
{% load static %}

{% block body %}
<header>{% include 'web/header.html' %}</header>
{% include 'web/navbar.html' %}
<main>
  <h1>Historial de pedidos</h1>
  <div class="container">
    {% for cart in carts %}
      <div class="row">
        <div class="col-md-12 box-border">
          <div>
            <p>Cliente (id): <a href="/clientes/{{ cart.client }}">{{ cart.client }}</a></p>
          </div>
          <div>
            <p>Producto: {{ cart.product }}</p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</main>
<footer>{% include 'web/footer.html' %}</footer>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="{% static 'web/scripts/web.js' %}"></script>
{% endblock %}
